<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Info -->

    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h5>{{ mars_data.latest_headline }}</h5>
        <p>{{ mars_data.headline_desc }}</p>
        
      </div>
    </div>
   